.parrafo1{
	color: #7C7CFF;
}
.parrafo2{
	color: white;
}
.parrafo3{
	color: 	#80DE87;
}
.titulo{
	font-family: 'Muli', sans-serif;
}
body{
	font-family: 'Poppins', sans-serif;
	background-color: #585555;
}
footer{
	font-family: 'Muli', sans-serif;
	background-color: #D8D9E0;
}
